Django
Pillow
python-dotenv
psycopg2-binary==2.9.9
whitenoise
dj-database-url
gunicorn
logging
django-storages
boto3
djangorestframework==3.14.0
django-cors-headers==3.7.0
djangorestframework-simplejwt==5.3.0